/* Corps de la page */

#bloc_page {
	width: 1200px;
	margin: auto;
}

body {
	background-color: #E9EAED
}

/* HEADER */
header img{
	width: 100%;
	margin: auto;
}

nav ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;

}
/* LIENS */
a {
	text-decoration: none;
}