/* Corps de la page */

#bloc_page {
	width: 1110px;
	margin: auto;
	font-family: 'Montserrat', Verdana, sans-serif;

}

body {
	background-color: #F4F4F4;
}

/* HEADER */

header img {
	width: 100%;
	margin: auto;
}
/* NAVIVATION */

nav ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 20px;
}

nav a {
	color: white;
	background-color: #FD5F00;
	font-weight: 500;
	padding: 8px 20px;
	border-radius: 6px;
	font-size: 1em;
}


/* LIENS */

a {
	text-decoration: none;
}

/* SECTION */

section {
	display: flex;
}

#bloc_left {
	background-color: #ffffff;
	border: 2px solid #E9EAED; /* le gris donné me paraît trop claire */
	padding: 30px 20px;
	flex: 3;
}

#bloc_left h1 {
	text-transform: uppercase;
	text-align: center;
}
	/* ARTICLE */

article {
	padding-top: 10px;
}

article h2 {
	text-transform: uppercase;
	font-size: 1em;
}

article h2 span {
	font-size: 1.5em;
}

article p, article li {
	color: #535c68; /* couleur à déterminer plus précisément, le gris donné est trop claire */
	text-align: justify;
}

	/* BLOC DE DROITE */

#bloc_right {
	border-top: 2px solid #E9EAED; /* le gris donné me paraît trop claire */
	border-bottom: 2px solid #E9EAED; /* le gris donné me paraît trop claire */
	padding: 10px;
	flex: 1;
}

#bloc_right h2 {
	text-transform: uppercase;
	font-size: 1em;
}

#bloc_right h2 span {
	font-size: 1.5em;
}

aside li {
	list-style-type: none;
	border-bottom: 2px #E9EAED solid; /* le gris donné me paraît trop claire */
	padding: 10px;
}

aside li a {
	color: #FD5F00;
	font-size: .8em;
}

aside ul {
	padding-left: 0;
	margin : 0;
}

#commentaires span {
	font-size: .8em;
	padding: 4px;
}
	/* Survol */

aside li:hover {
	background-color: #FFFFFF
}

/* FOOTER */

footer {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}

footer li {
	list-style-type: none;
	padding: 5px;
}

footer li a {
	color: #FD5F00;	
}

/* RESPONSIVE */

@media all and (max-width: 980px)
{
    #bloc_page {
        width: auto;
    }

   	section {
   		display: block;
   	}

   	#bloc_right {
   		display: flex;
   		justify-content: space-around;
   	}
}

@media all and (max-device-width: 480px)
{
	/* MENU */

	nav {
		display: in;
	}

	nav a {
		font-size: 2em;
	}

	/* SECTION */

	article {
		margin: 0 20px;
	}

	section h1 {
		font-size: 4em;
		margin-block-start: 2em;
	}

	h2 {
		margin-block-start: 5em;
		margin-block-end: 5em;
	}

	#bloc_right {
		display: block;
		margin: 10px;
		border: none;
	}

	aside li {
		padding: 15px;
		border-bottom: 5px #E9EAED solid; /* le gris donné me paraît trop claire */
	}

	/* FOOTER */

	footer {
		display: block;
		margin: 100px;
		text-align: center;
	}

	footer li {
		padding-top: 20px;
	}

	footer ul {
		margin: 60px 0;
		padding-inline-start: 0;
	}
}